---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.tsx';
---

<Layout title="Welcome to Astro.">
  <main class="text-white py-10 px-5">
    <h1 class="text-4xl font-bold mb-5">Welcome to Astro</h1>
    <p>
      Welcome to Astro, a new kind of static site builder. Astro combines the
      best parts of modern build tools like React, Vue, and Svelte, and the
      performance and developer experience of static sites. Astro sites are
      built ahead of time and served as static HTML, but work and behave like an
      app.
    </p>

    <Actions client:load />
  </main>
</Layout>
